.transaction_history {
    text-align: start;
    margin: 15px auto 15px auto;
    border: solid 1px rgb(188, 188, 188);

}

.thead {
    background-color: rgb(73, 179, 209);

}

.thead_th {
    border: solid 1px rgb(188, 188, 188);
    
}